# List Iteration

In [7]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [4]:
for num in mylist:
    print(f"hello number {num}")

hello number 1
hello number 2
hello number 3
hello number 4
hello number 5
hello number 6
hello number 7
hello number 8
hello number 9
hello number 10

# Conditional Statement with loops

In [9]:
for num in mylist:
    #check for even number:
    if num % 2 == 0:
        print(f'The number {num} is an even number')
    else:
        print(f"The number {num} is an odd number")

The number 1 is an odd number
The number 2 is an even number
The number 3 is an odd number
The number 4 is an even number
The number 5 is an odd number
The number 6 is an even number
The number 7 is an odd number
The number 8 is an even number
The number 9 is an odd number
The number 10 is an even number

In [11]:
list_sum=0
for num in mylist:
    list_sum+=num
print(list_sum)

55

# String Iteration

In [12]:
mystring='Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [16]:
for var in 'Hello World':
    print(var)

H
e
l
l
o

W
o
r
l
d

# Tuple Iteration

In [17]:
tup=(1,2,3)
for item in tup:
    print(item)

1
2
3

In [18]:
mylist =[(1,2),(3,4),(5,6),(7,8)]

In [19]:
len(mylist)

4

In [20]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

# Tuple Unpacking

In [21]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [22]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [23]:
mylist=[(1,2,3),(5,6,7),(8,9,10)]

In [25]:
for item in mylist:
    print( item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [26]:
for a,b,c in mylist:
    print(b)

2
6
9

# Dictionary Iteration

In [27]:
d={'k1':1,'k2':2,'k3':3}

In [29]:
for item in d:
    print(item) #Onll prints keys in dictionary

k1
k2
k3

In [30]:
for item in d.items():
    print(item) #print key,values in tuple format

('k1', 1)
('k2', 2)
('k3', 3)

In [32]:
for key,value in d.items():
    print(value)

1
2
3